[submodule "PowerShellArsenal"]
	path = PowerShellArsenal
	url = https://github.com/ReneNyffenegger/PowerShellArsenal
[submodule "filesystem"]
	path = filesystem
	url = https://github.com/ReneNyffenegger/ps-modules-filesystem
[submodule "zip"]
	path = zip
	url = https://github.com/ReneNyffenegger/ps-modules-zip
[submodule "console"]
	path = console
	url = https://github.com/ReneNyffenegger/ps-modules-console
[submodule "COM"]
	path = COM
	url = https://github.com/ReneNyffenegger/ps-modules-COM
[submodule "MS-Access"]
	path = MS-Access
	url = https://github.com/ReneNyffenegger/ps-modules-MS-Access
[submodule "VB"]
	path = VB
	url = https://github.com/ReneNyffenegger/ps-modules-VB
[submodule "outlook"]
	path = Outlook
	url = https://github.com/ReneNyffenegger/ps-modules-Outlook
