[submodule "PowerShellArsenal"]
	path = PowerShellArsenal
	url = https://github.com/ReneNyffenegger/PowerShellArsenal
[submodule "filesystem"]
	path = filesystem
	url = https://github.com/ReneNyffenegger/ps-modules-filesystem
[submodule "zip"]
	path = zip
	url = https://github.com/ReneNyffenegger/ps-modules-zip
[submodule "console"]
	path = console
	url = https://github.com/ReneNyffenegger/ps-modules-console
